/* chat.css */

/* Estilo para el VBox que contiene los mensajes */
.message-container {
    -fx-background-color: #228be6; /* Color de fondo azul */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los mensajes de la izquierda */
.message-left {
    -fx-alignment: center-left; /* Alineación a la izquierda */
    -fx-background-color: #1e90ff; /* Color de fondo para mensajes de la izquierda */
    -fx-text-fill: white; /* Color del texto */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes de fondo redondeados */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-max-width: 70%; /* Ancho máximo */
    -fx-margin: 5px 0; /* Margen superior e inferior */
}

/* Estilos para los mensajes de la derecha */
.message-right {
    -fx-alignment: center-right; /* Alineación a la derecha */
    -fx-background-color: #4169e1; /* Color de fondo para mensajes de la derecha */
    -fx-text-fill: white; /* Color del texto */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes de fondo redondeados */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-max-width: 70%; /* Ancho máximo */
    -fx-margin: 5px 0; /* Margen superior e inferior */
}
