/* chat.css */

/* Estilo para el VBox que contiene los mensajes */
.message-container {
    -fx-background-color: #228be6; /* Color de fondo azul */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
}


